# Работа с базой про бронированию отеля

In [1]:
import pandas as pd

In [2]:
bookings = pd.read_csv('bookings.csv', sep= ';')

 - Hotel – тип отеля (City Hotel или Resort Hotel)  
 - Is canceled – бронирование было отменено (1) или нет (0); неотменённое считается успешным
 - Lead time – количество дней, прошедших между датой бронирования и датой прибытия  
 - Arrival full date – полная дата прибытия
 - Arrival date year – год прибытия  
 - Arrival date month – месяц прибытия  
 - Arrival date week number – номер недели прибытия
 - Arrival date day of month – день прибытия
 - Stays in weekend nights – количество выходных (суббота или воскресенье), которые гость забронировал для проживания в отеле
 - Stays in week nights – количество дней (с понедельника по пятницу), которые гость забронировал для проживания в отеле
 - Stays total nights – общее число забронированных ночей (сумма двух предыдущих колонок)
 - Adults – число взрослых
 - Children – число детей
 - Babies – число младенцев 
 - Meal – выбранный тип питания
 - Country – страна происхождения клиента
 - Reserved room type – тип зарезервированного номера
 - Assigned room type – тип полученного номера (может отличаться от забронированного)
 - Customer type – тип бронирования
 - Reservation status – значение последнего статуса брони: Canceled – было отменено клиентом; Check-Out – клиент зарегистрировался, но уже покинул отель; No-Show – клиент не зарегистрировался и сообщил администрации отеля причину
 - Reservation status date – дата обновления статуса

In [3]:
bookings_head = bookings[:7]

In [4]:
bookings.shape

(119390, 21)

In [5]:
bookings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 21 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Hotel                      119390 non-null  object
 1   Is Canceled                119390 non-null  int64
 2   Lead Time                  119390 non-null  int64
 3   arrival full date          119390 non-null  object
 4   Arrival Date Year          119390 non-null  int64
 5   Arrival Date Month         119390 non-null  object
 6   Arrival Date Week Number   119390 non-null  int64
 7   Arrival Date Day of Month  119390 non-null  int64
 8   Stays in Weekend nights    119390 non-null  int64
 9   Stays in week nights       119390 non-null  int64
 10  stays total nights         119390 non-null  int64
 11  Adults                     119390 non-null  int64
 12  Children                   119386 non-null  float64
 13  Babies                     119390 non-null  int64
 14  Meal                       119390 non-null  object
 15  Country                    118902 non-null  object
 16  Reserved Room Type         119390 non-null  object
 17  Assigned room type         119390 non-null  object
 18  customer type              119390 non-null  object
 19  Reservation Status         119390 non-null  object
 20  Reservation status_date    119390 non-null  object
dtypes: float64(1), int64(10), object(10)
memory usage: 19.1+ MB

In [6]:
bookings_head

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

Неудобно работать с переменным где названия в несколько слов и с заглавными буквами, поправим это.

In [7]:
def replace(name):
    new_name = name.replace(' ', '_')
    return new_name

In [8]:
bookings = bookings.rename(columns=replace)

In [9]:
bookings.columns = map(str.lower, bookings.columns)

In [10]:
bookings

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,3,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,2,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07

Необходимо найти топ стран по успешным бронирояниям (**is_canceled == 0**)

In [11]:
bookings.query('is_canceled == 0')\
    .country.value_counts()[:5]

PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
Name: country, dtype: int64

Менеджерам необходима информация на сколько ночей  в среднем бронируют отели типа City Hotel? Resort Hotel?  

Данные необходимы  простой десятичной дроби.

In [12]:
bookings.groupby('hotel', as_index=False)\
    .aggregate({'stays_total_nights' :'mean' })\
    .round(2)\
    .rename({'stays_total_nights': 'mean_days'})

          hotel  stays_total_nights
0    City Hotel                2.98
1  Resort Hotel                4.32

In [13]:
bookings.query('is_canceled == 1')\
    .value_counts('country').sum()

44157

Иногда тип номера, полученного клиентом , отличается от изначально забронированного . Такое может произойти, например, по причине овербукинга.
Сколько подобных наблюдений встретилось в датасете?

In [14]:
bookings.query('assigned_room_type != reserved_room_type').shape

(14917, 21)

На какой месяц чаще всего оформляли бронь в 2016 году? Изменился ли самый популярный месяц в 2017 году?

In [15]:
bookings.groupby(['arrival_date_year','arrival_date_month'], as_index=False)\
        .aggregate({'hotel' : 'count'})\
        .sort_values(by='hotel', ascending=False)[:5]

    arrival_date_year arrival_date_month  hotel
25               2017                May   6313
16               2016            October   6203
18               2017              April   5661
23               2017               June   5647
14               2016                May   5478

На какой месяц (arrival_date_month) бронирования отеля типа City Hotel отменялись чаще всего в 2015, 2016, 2017 годах?

In [16]:
bookings.query('is_canceled == 1 and hotel =="City Hotel" ')\
        .groupby('arrival_date_year')\
        .arrival_date_month\
        .value_counts()

arrival_date_year  arrival_date_month
2015               September             1543
                   October               1321
                   August                1232
                   July                   939
                   December               668
                   November               301
2016               October               1947
                   June                  1720
                   September             1567
                   April                 1539
                   May                   1436
                   November              1360
                   August                1247
                   March                 1108
                   December              1072
                   July                  1043
                   February               930
                   January                438
2017               May                   2217
                   April                 1926
                   June                  1808
                   July                  1324
                   March                 1278
                   August                1123
                   January               1044
                   February               971
Name: arrival_date_month, dtype: int64

Логичнее всего продположить что отели бронируют взрослые, путешествуя одни или с детьми, проверим так ли это.

In [17]:
bookings[['adults', 'children' , 'babies']].mean()

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

Определимся каких отелей бронируют больше с детми (городских или курортных).

In [18]:
bookings['total_kids']= bookings['children'] + bookings['babies']
bookings.groupby('hotel', as_index=False)\
        .aggregate({'total_kids' : 'mean'})\
        .round(2)\
        .rename({'total_kids': 'avg_kigs'})

          hotel  total_kids
0    City Hotel        0.10
1  Resort Hotel        0.14

Не все бронирования завершились успешно, поэтому посчитаем сколько клиентов было потеряно в процессе, связоно ли это с наличием детей?

In [19]:
bookings['has_kids']=bookings.total_kids > 0
yes_kids_churn = round(bookings.query('is_canceled == 1 and has_kids == True')
        .shape[0] /
bookings.query('has_kids == True')
        .shape[0] *100, 2)
yes_kids_churn

34.92

In [20]:
bookings['has_kids']=bookings.total_kids > 0
no_kids_churn = round(bookings.query('is_canceled == 1 and has_kids == False')
        .shape[0] /
bookings.query('has_kids == False')
        .shape[0] *100, 2)
no_kids_churn

37.22